# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/
.pytype/

# Environments
.env
.venv
env/
venv/

# Editor/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project-specific
.ruff_cache/
*.log
